<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hr.ui"
    android:versionCode="74"
    android:versionName="6.1.2">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!-- 添加必要的权限shareSDK -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />
    <!-- SD卡读取权限，用户写入离线定位数据-->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions"/>
    <application
        tools:replace="android:allowBackup"
        android:name=".app.HRApplication"
        android:allowBackup="false"
        android:resizeableActivity="true"
        android:icon="@drawable/app"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.main.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--shareSDK-->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="stateHidden|adjustResize" >
            <!-- 调用新浪原生SDK，需要注册的回调activity -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.service.InitApkBroadCastReceiver"
            android:enabled="true" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <service android:name="com.service.DownloadSignatureServic" />
        <!--友盟-->
        <meta-data android:value="50762338527015512a000084" android:name="UMENG_APPKEY"/>
        <meta-data android:value="${UMENG_CHANNEL_VALUE}" android:name="UMENG_CHANNEL"/>

        <!-- 填写您从Mob开发者后台中得到的Appkey和AppSecret -->
        <meta-data android:name="Mob-AppKey" android:value="f5b88fa661ff"/>
        <meta-data android:name="Mob-AppSecret" android:value="250503555782bda4dd4da382ea632d86"/>
        <!--适配全面屏手机-->
        <meta-data android:name="android.max_aspect"
            android:value="2.1"/>
        <!--百度定位-->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="jMfg95xhZFMHsDjfxVitMjyg" >
        </meta-data>
        //过18分钟触发一次
        <service android:name="com.service.LongRunningService" android:enabled="true" ></service>
        <receiver android:name="com.service.AlarmReceiver" android:process=":newinst"></receiver>
        <service
            android:name="com.service.MyJobService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"/>
        <service android:name="com.baidu.location.f" android:enabled="true" android:process=":remote"> </service>

        <!--验证码计时器服务-->
        <service
            android:name="com.service.CodeTimerService"
            android:enabled="true" />
        <receiver android:name="com.service.AlamrReceiver" android:process=":remote"></receiver>
        <!--QQ分享-->
        <activity
            android:name="cn.sharesdk.tencent.qq.ReceiveActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="tencent100247251" />
            </intent-filter>
        </activity>

        <!--微信分享-->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity android:name=".ui.main.activity.MainActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity android:name=".ui.main.activity.WelcomeActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.main.activity.CompanyDetailActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.main.activity.SelectOptionsActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.main.activity.ShowMsgActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.login.activity.RegisterActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.login.activity.LoginActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.login.activity.UserLoginActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.login.activity.FindPhonePasswordActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.login.activity.FindUserPasswordActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.login.activity.bindUserLoginActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.login.activity.BindPhoneLoginActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.login.activity.BindNewAccountAcitvity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.main.activity.MultipleResumeActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.main.activity.RobotActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.main.activity.PersonalInformationActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.main.activity.EducationActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.main.activity.WorkExpActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.main.activity.JobOrderActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.main.activity.SelectCityActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.main.activity.ContentActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.main.activity.SelectPositionActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.main.activity.SelectFunctionActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.main.activity.SelectResumeTypeActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.resume.activity.ResumePersonalInfoActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.resume.activity.ResumeJobOrderActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.lzy.imagepicker.ui.ImagePreviewDelActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ImagePickerThemeFullScreen"/>
        <activity android:name=".ui.resume.activity.ResumeEducationActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.resume.activity.ResumeWorkExpActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.resume.activity.ResumeProjectExpActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.resume.activity.ProjectContentActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.resume.activity.ResumeTrainActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.resume.activity.ResumeLanguageActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.resume.activity.ResumeProfessionSkillActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.job.activity.BaiDuMapActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.resume.activity.ResumeIntroductionActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.resume.activity.PreviewResumeActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.main.activity.JobSerchActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.main.activity.SelectIndustryActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.job.activity.PositionPageActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:theme="@style/DialogTransparent"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.job.activity.CompanyPageActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:theme="@style/AppTheme"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.me.activity.CollectionActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:theme="@style/DialogTransparent"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.me.activity.FeedBackActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:theme="@style/DialogTransparent"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.message.activity.DeliverFeedbackActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:theme="@style/DialogTransparent"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.message.activity.FindActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:theme="@style/DialogTransparent"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.message.activity.WhoSeeMeActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:theme="@style/DialogTransparent"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.message.activity.InviteActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:theme="@style/DialogTransparent"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.message.activity.EmploymentGuidanceActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:theme="@style/DialogTransparent"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.message.activity.GuidanceInfoActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:theme="@style/DialogTransparent"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.me.activity.SettingActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:theme="@style/DialogTransparent"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.message.activity.WebActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:theme="@style/DialogTransparent"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.me.activity.ShieldCompanyActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:theme="@style/DialogTransparent"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.me.activity.ScanHistoryActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:theme="@style/DialogTransparent"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.me.activity.ChangePhoneActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:theme="@style/DialogTransparent"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.me.activity.ChangePswActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:theme="@style/DialogTransparent"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.me.activity.ValidPhoneActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.me.activity.VersionActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.login.activity.CompanyRegisterActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.main.activity.SelectCitySearchActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.main.activity.JobSearchResultActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.main.activity.ValidPhoneFirstActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.main.activity.SelectCityByLetterActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.login.activity.PhoneLoginActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.main.activity.SelectCityNewActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:theme="@style/DefaultCityPickerTheme"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.job.activity.RecommendJobActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:theme="@style/DialogTransparent"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.hr.ui.fileProvider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

    </application>

</manifest>